# general

.* 
_*
02_manuscript/2017_repl-zwickel-vo_files/*

#2017_sfb-presentation/libs/
#2017_sfb-presentation/2017_SFB_repl-zwickel-vo_files

# Excluded data
01_data/pre_processing/EyeLink_*
01_data/pre_processing/Presentation_*
01_data/pre_processing/Questionnaires/*

03_manuscript/submissions/*
desktop.ini
03_manuscript/2017_repl-zwickel-vo_files/*
03_manuscript/co-authors/*

# Stimuli, temporaries and renderd
*.png
*.RDS
*.pdf
*.docx
*.doc
*.html
*.xlsx
*.xcf

# R
*.Rproj

# notes
01_data/pre_processing/Probleme.txt