.Rhistory
*.Rhistory
*.user
*.Ruserdata
*.pdf
*.tex
*.html
*.xlsx
*.doc
*.pdf
*.tex
*.ttt
*.log
*.md
*.fff
*.bak
*.sav
draft*
02_manuscript/2017_repl-zwickel-vo_files/
.Rproj.user
#2017_sfb-presentation/libs/
#2017_sfb-presentation/2017_SFB_repl-zwickel-vo_files