# general
_*
desktop.ini
/00_projektarbeit/

/2017_sfb-presentation/
/2018_interactive-eye-gaze-poster/

# Excluded data
01_data/pre_processing/EyeLink_*
01_data/pre_processing/Presentation_*
01_data/pre_processing/Questionnaires/*

03_manuscript/2017_repl-zwickel-vo_files/*
!03_manuscript/2017_repl-zwickel-vo_files/example.png
03_manuscript/submissions/*
03_manuscript/co-authors/*

# Stimuli, temporaries and renderd
*.png
*.RDS
*.pdf
*.docx
*.doc
*.html
*.xlsx
*.xcf

# R
*.Rproj
/2017_sfb-presentation/.Rhistory
.Rproj.user

# notes
01_data/pre_processing/Probleme.txt
/renv/
